<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<main class="form-signin">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" formControlName="email" placeholder="name@example.com">
      <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating">
      <input type="name" class="form-control" id="floatingName" formControlName="name" placeholder="John Doe">
      <label for="floatingName">Full Name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword2" formControlName="password2" placeholder="Password">
      <label for="floatingPassword2">Re-enter Password</label>
    </div>

    <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2022</p>
  </form>
</main>
